html {
  background-color: #BEDFEF;
}

body {
  background-color: #BEDFEF;
}

p {
  text-align: center;
  font-size: 3em;
}


.box {
    background: #2db34a;
    border-radius: 6px
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
  }

.box:hover {
    background: #ff7b29;
    border-radius: 50%;
  }

.container {
  margin: 10%;
  width: 80%;
  height: 80%;
}

.content {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.footer, .h3 {
  text-align: center;
}

.follow_stuff {
  border: solid 10px black;
  width: 10%;
  height: 400px;
  display: inline-block;
  float: left;
}

.feed {
padding: 5%;
margin: 4%;
width: relative;
}

#gravatar_img {
  width: 8em;
}

.header {
  display: inline-block;
  margin-top: 20%;

}

.jumbotron {
  background-image: url("https://ps.w.org/mini-twitter-feed/assets/banner-772x250.jpg?rev=531916");
  background-size: cover;
  height: 180%;
  color: #FFFFFF;
  background-color: #BEDFEF;

}

.jumbotron h4 {
  color: #0FBEE6;
}


.title {
  display: block;
}

.nav {
  background-color: #89C1DD;
}

.row {
  margin-right: 40%;
}

.submit {
  display: inline-block;
  float: right;
}


.tweets {
  border: solid 1px black;
  width: 75%;
  height: 30%;
  display: inline-block;
  float: right;
  padding: 12px;
  border-radius: 25px;
}

.tweets {
  background-color: white;
  margin: 1%;
}


/*Animation Code Below Here*/
@-webkit-keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 688px;
    top: 25px;
  }
}

.stage {
  /*background: #88C0DC;*/
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 800px;
    position: absolute;
    left: 100px;
    top: 150px;
}

.ball {
  height: 80px;
  position: absolute;
  width: 80px;
}

.stage .ball {
  -webkit-animation: slide 2s ease-in-out .5s infinite alternate;
}
.stage:active .ball {
  -webkit-animation-play-state: paused;
}

.stage:hover .ball {

}



