/*Put Stylish Shiz here*/

.container {
  margin: 10%;
  width: 80%;
  height: 80%;
}

p {
  text-align: center;
  font-size: 3em;
}

#gravatar_img {
  width: 8em;
}

.title {
  display: block;
}

.follow_stuff {
  border: solid 10px black;
  width: 10%;
  height: 400px;
  display: inline-block;
  float: left;
}

.tweets {
  border: solid 1px black;
  width: 75%;
  height: 30%;
  display: inline-block;
  float: right;
  padding: 12px;
  border-radius: 25px;
}

.submit {
  display: inline-block;
  float: right;
}

.nav {
  background-color: #89C1DD;
}

.header {
  display: inline-block;
  margin-top: 20%;

}

.jumbotron {
  background-image: url("https://ps.w.org/mini-twitter-feed/assets/banner-772x250.jpg?rev=531916");
  background-size: cover;
  height: 180%;
  color: #FFFFFF;
  background-color: #BEDFEF;

}

.jumbotron h4 {
  color: #0FBEE6;
}

html {
  background-color: #BEDFEF;
}
body {
  background-color: #BEDFEF;
}

.tweets {
  background-color: white;
  margin: 1%;
}

.content {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.submit {
  border: 10px;
  text-align: center;
  display: block;
}

.feed {
padding: 5%;
margin: 4%;
width: relative;
}

.row {
  margin-right: 40%;
}

.footer, .h3 {
  text-align: center;
}


@-webkit-keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}

.stage {
  background: ##88C0DC;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
    position: absolute;
    left: 100px;
    top: 150px;
}

.stage:hover .ball {
  -webkit-animation: slide 2s ease-in-out .5s infinite alternate;
}
.stage:active .ball {
  -webkit-animation-play-state: paused;
}
.ball {
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}





