<div class="container">
<p>MiniTwitter</p>

<div class="title">
  <div id='gravatar'></div>
  <div id='user'></div>
  <div id='logout'></div>
</div>

<div class="follow_stuff">
  <div id='following'></div>
  <div id='followers'></div>
</div>

<div class='tweets'>
  <% @tweets.each do |tweet| %>
    <div>
      <div class ='tweet_meta'>
      <%  %> #MD5/Gravatar
      <%=  %> #tweet.handle
      <%=  %> #tweet.created_at
        </div>
      <div class ='content'>
        <%= tweet.content %>
      </div>

    </div>
  <%end%>

</div>

<div class='new_tweet'>
# user passes in content
<form action='/' method="post">
<input type='text' name='tweets[content]' placeholder='Enter your tweet'><br>
<input type='submit'>
</form>


</div>

</div>
