



<div class='nav'>

  <div class="pull-left">
    <a href="#" class="btn btn-primary btn-md active" role="button">Home</a>
  </div>

  <div class='pull-right'>
    <!-- <div id='gravatar' class="header"><img id='gravatar_img' src='http://media4.popsugar-assets.com/files/2013/10/18/233/n/1922283/ad57fc860e590b49_thumb_temp321963991382151012.xxxlarge/i/Arnold-Schwarzenegger-Recites-Lines-Reddit.jpg'/>
    </div> -->
    <div id='user' class="header">
    </div>
    <%# session user_id: grab user_id & have it populate name %>
    <div id='logout' class="header">
   <input type='submit' value='logout' class="btn btn-primary btn-md active" role="button">
    </div>
  </div>

</div>



<div class="jumbotron">
  <div class="container">
    <h1>MiniTwitter</h1>
    <h4>The New Way to Connect</h4>
  </div>
</div>

<div class="stage">
  <img src="http://clients.austereo.com.au/vanity/fifa14/assets/img/twitter-logo.png" class="ball"></figure>
</div>



 <form action='/login' method='post'>
  <input type='text' name='handle' placeholder='handle'/>
  <input type='password' name='password' placeholder='password'/>
  <input type='submit' name='log in' />
 </form>
