 <form action='/register' method='post'>
 <p>Welcome to MiniTwitter</p>
  <input type='text' name='user[handle]' placeholder='handle'/>
  <input type='text' name='user[password]' placeholder='password'/>
  <input type='submit' name='Register' />
 </form>
